[submodule "g2o"]
	path = g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "pangolin"]
	path = pangolin
	url = https://github.com/uoip/pangolin.git
[submodule "g2opy"]
	path = g2opy
	url = https://github.com/uoip/g2opy.git
